
@{
    ViewBag.Title = "Find new friend";
}

<h2>FindFriend</h2>

@using (Ajax.BeginForm("FindedUsers", "FriendManagement", new AjaxOptions { UpdateTargetId = "findedUsers" }))
{
    <div>
        <label>Surname: </label>
        @Html.TextBox("surname", ViewData.TemplateInfo.FormattedModelValue, new { @class = "form-control" })
    </div>
    <div>
        <label>Name: </label>
        @Html.TextBox("name", ViewData.TemplateInfo.FormattedModelValue, new { @class = "form-control" })
    </div>
    <div>
        <label>Middle name: </label>
        @Html.TextBox("middleName", ViewData.TemplateInfo.FormattedModelValue, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Find" class="btn btn-default" />
        </div>
    </div>
    <div id="findedUsers">
        <label>
            Input data, users list will be here
            @Html.ValidationSummary()
        </label>
    </div>

}
